Load table from Wiki Page

In [1]:
import pandas as pd
df_code = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [2]:
df_code.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Eliminate rows where Borough unassigned

In [11]:
df_code.drop(df_code[df_code['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [4]:
df_code.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Merge rows based on Postal Code

In [8]:
df_code = df_code.groupby('Postal Code').agg({'Borough':'first', 'Neighborhood': ', '.join}).reset_index()

In [9]:
df_code.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

Identify borough with neighborhood for boroughs with no neighborhoods

In [13]:
df_code.loc[df_code['Neighborhood']=="Not assigned",'Neighborhood']=df_code.loc[df_code['Neighborhood']=="Not assigned",'Borough']

In [15]:
df_code.shape

(103, 3)